body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.title {
    text-align: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1em;
    place-items: center;
}

.card {
    outline: 1px solid black;
    text-align: center;
    border-radius: 10px;
}