* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Hanken Grotesk", sans-serif;
}

.result {
  background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  padding: 1rem 3rem;
  color: white;
  padding-bottom: 30px;
}

.score {
  display: inline-block;
  border-radius: 50%;
  padding: 2rem 2.4rem;
  margin: 1rem 0;
  background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
  line-height: 40px;
}

.number {
  display: block;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 0.2rem;
  color: white;
  padding-top: 10px;
}

.result .ranking {
  color: white;
  font-size: 18px;
}

.result div {
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.75);
}

.summary {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 16px;
}

.summary a {
  display: inline-flex;
  justify-content: center;
  color: white;
  background-color: black;
  padding: 10px 0;
  border-radius: 20px;
  text-decoration: none;
}

.reaction {
  background: hsla(0, 100%, 67%, 0.099);
  border-radius: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.reaction .right {
  color: hsl(0, 100%, 67%);
  font-weight: 800;
}

.memory {
  background: hsl(39, 100%, 56%, 0.1);
  border-radius: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.memory .right {
  color: hsl(39, 100%, 56%);
  font-weight: 800;
}

.verbal {
  background: hsl(166, 100%, 37%, 0.1);
  border-radius: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.verbal .right {
  color: hsl(166, 100%, 37%);
  font-weight: 800;
}

.visual {
  background-color: hsl(234, 85%, 45%, 0.1);
  border-radius: 5px;
  padding: 15px 5px;
  display: flex;
  justify-content: space-between;
}

.visual .right {
  color: hsl(234, 85%, 45%);
  font-weight: 800;
}

.right img {
  vertical-align: text-bottom;
  margin: 0 0.4em;
}

.left {
  margin-right: 0.7em;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
