* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.result {
  background-color: hsl(241, 81%, 54%);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  padding: 1rem 3rem;
  color: white;
}

.number {
  display: block;
}

.result div {
  margin-top: 1rem;
}

.summary {
  padding: 1rem 2rem;
}

.summary div {
  margin-top: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
