body {
    background-color: darkcyan;
}

#container {
    display: flex;
    justify-items: center;
    align-items: center ;
}

#third {
    display: flex;
}

#followers, #likes, #photos {
    flex: 1;
}