* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rating {
  border: 2px solid black;
}

.rating img {
  display: block;
}

.rating ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
