* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.rating {
  background-color: white;
  margin: 1rem;
  padding: 1rem;
  border: 2px solid black;
}

.rating img {
  display: block;
  margin-bottom: 1rem;
  background-color: hsl(213, 19%, 18%);
  padding: 1rem;
  border-radius: 50%;
}

.rating h1 {
  margin-bottom: 1rem;
}

.rating p {
  background-color: white;
}

.rating ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.rating li {
  width: 40px;
  height: 40px;
  padding: 10px;
  text-align: center;
  border-radius: 50%;
  border: 1px dotted black;
}

.rating li:hover {
  background-color: grey;
  color: white;
  cursor: pointer;
}

.selected {
  background-color: black;
  color: white;
}

.rating a {
  margin-top: 1rem;
  display: block;
  color: #fff;
  background-color: hsl(25, 97%, 53%);
  text-align: center;
  border-radius: 30px;
  padding: 1rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.thanks {
  display: none;
}

.display {
  display: block;
}
