body {
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    padding: 10px;
}

.attribution { 
    margin-top: 4em;
    font-size: 11px;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}

.preview-image {
    width: 100%;
}

.info {
    display: flex;
    flex-direction: column;
    padding-left: 22px;
    padding-right: 23px;
    padding-bottom: 10px;
}

.preview-image img {
    width: 100%;
    height: auto;
}

.button {
    background-color: hsl(158, 36%, 37%);
    height: 7vh;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.button:hover {
    background-color: #184c3af9;
}

.cart-icon { /* New style for the cart icon */
    display: inline-block;
    margin-right: 0.5em; /* Adjust the space between the icon and text */
}

.price {
    color: hsl(158, 36%, 37%);
    font-family: 'Fraunces', serif;
    font-size: 30px;
    margin: 0;
    margin-bottom: 20px;
}

.price .discount {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    font-size: 13px;
    text-decoration: line-through;
    vertical-align: middle;
    margin-left: 1.5em;
}

.description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    line-height: 23px;
    font-size: 14px;
}

.title {
    font-weight: 600;
    font-family: 'Fraunces', serif;
    margin: 0;
    line-height: 33px;
}

.category {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: grey;
    font-size: 12px;
    letter-spacing: 5px;
    padding-top: 1em;
}