@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


body {
    background-color:#E6EFF6;
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}

#first {
    background-color: white;
    padding: 2%;
}

#first h1 {
    color: #2BB3B1;
}

#second {
    background-color: #2BB3B1;
    padding: 2%;
}

#third {
    background-color: #4ABEBD;
    padding: 2%; 
}

#second, #third {
    color: white;
}

#claim {
    color: #BFDF32;
    font-size: 20px;
}