* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:any-link {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #00459e;
  color: white;
}

.title {
  margin: 2rem;
}

.subtitle {
  margin: 2rem;
}

.list {
  display: grid;
  margin: 2rem;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  list-style-type: none;
}

.stuff {
  border: 3px solid white;
  border-radius: 15px;
}

.stuff:hover {
  background-color: white;
  color: #00459e;
  cursor: pointer;
  transition: 0.3s;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 4rem;
}

.subtitle {
  font-family: "Quattrocento", serif;
  font-size: 2rem;
}

.description {
  padding: 1rem 0;
  font-family: "Quattrocento", serif;
  text-align: center;
}

.code {
  background-color: black;
  border-radius: 10px;
  padding: 0 10px;
}

button {
  border-radius: 10px;
  margin: 2rem;
  font-size: 1.5rem;
  padding: 10px;
}

button:hover {
  background-color: #00459e;
  color: white;
  border: 2px solid white;
  cursor: pointer;
}

li {
  list-style-type: none;
}
