body {
    text-align: center;
    font-family: "FranklinITCProLight", Helvetica, sans-serif; 
}

#image {
    border-radius: 50%;
    padding-top: 2em;
  }

#header {
    background-image: linear-gradient(to bottom,#eee, #fff);
    margin-left: 11em;
    margin-right: 11em;
    margin-top: 3em;
}

#section {
    color: #1955a5;
    padding-top: 1.4em;
    font-weight: bold;
}

#title {
    font-size: 50px;
    line-height: 30px;
    color: #2a2a2a;
    padding-top: 0.9em;
}

#date {
    color: #A94442;
    font-size: 17px;
    padding-top: 2em;
}

#text {
    color: #5a5a5a;
    padding-left: 14em;
    padding-right: 14em;
    font-size: 21px;
    padding-top: 1.1em;
    line-height: 1.4em;
}

.count {
    margin-top: 5px;
}

#promises {
    padding-top: 1.1em;
}

#promises-details {
    padding-top: 1.1em;
}

#promises-details .count {
    font-size: 25px;
    color: black;  
}

#main-promises {
    font-size: 25px;
    color: white;
    padding-top: 35px;
    padding-bottom: 5px;
    max-width: 400px; 
    margin: auto;
    margin-bottom: 30px;
}

#main-promises .count {
    font-size: 35px;
    color: black; 
}

#kept {
    background-color: #00b6bd;
    border-radius: 5px;
    padding: 3px;
}

#promise-kept {
    float: left;
    width: 50%;
}

#promise-broken {
    float: right;
    width: 50%;
}
#broken {
    background-color: red;
    border-radius: 5px;
    padding: 3px;
}

#launched {
    background-color: #ebe08c;
    border-radius: 3px;
    padding: 3px;
}

#stuck {
    background-color: #808284;
    border-radius: 3px;
    color: white;
    padding: 3px;
}

#compromise {
    background-color: #fcc691;
    border-radius: 3px;
    padding: 3px;
}

#not-rated {
    background-color: #d1d2cd;
    border-radius: 3px;
    padding: 3px;
}
