body {
    text-align: center;
    font-family: "FranklinITCProLight", Helvetica, sans-serif; 
}

#image {
    border-radius: 50%;
    padding-top: 2em;
  }

#header {
    background-image: linear-gradient(to bottom,#eee, #fff);
    margin-left: 11em;
    margin-right: 11em;
    margin-top: 3em;
}

#section {
    color: #1955a5;
    padding-top: 1.4em;
    font-weight: bold;
}

#title {
    font-size: 50px;
    line-height: 30px;
    color: #2a2a2a;
    padding-top: 0.9em;
}

#date {
    color: #A94442;
    font-size: 17px;
    padding-top: 2em;
}

#text {
    color: #5a5a5a;
    padding-left: 14em;
    padding-right: 14em;
    font-size: 21px;
    padding-top: 1.1em;
    line-height: 1.4em;
}

#launched {
    background-color: #ebe08c;
    border-radius: 3px;
    padding: 3px;
}

#stuck {
    background-color: #808284;
    border-radius: 3px;
    color: white;
    padding: 3px;
}

#compromise {
    background-color: #fcc691;
    border-radius: 3px;
    padding: 3px;
}

#not-rated {
    background-color: #d1d2cd;
    border-radius: 3px;
    padding: 3px;
}

.box {
    width: 12%;
    display: inline-block;
    margin: auto;
    max
}

#kept {
    background-color: #00b6bd;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

#broken {
    background-color: red;
    border-radius: 5px;
    padding: 3px;
    color: white;
}

#main {
    margin-top: 25px;
    margin-bottom: 25px;
}

#main .count {
    font-size: 30px;
}

#other .count {
    font-size: 25px;
}

.box p {
    margin-top: 10px;
}